$laptop: 992px;
$tablet: 768px;
$mobile: 480px;
$height: 700px;
$width: 100%;
.flex-container {
     display: flex;
     margin-top: auto;
     margin-bottom: auto;
     margin-left: auto;
     margin-right: auto;     
     flex-direction: column;
     background: #FFFFFF;
     border: black;
     width: $width;
     @media screen and (max-width: $laptop) and (min-width: $mobile) {
          background: #FFFFFF;
     }
}
.wrapper {
  display: flex;
  margin: auto;
  //max-width: 75rem;
  text-align: center;
}
.flex-item {
     position: relative;
}
//For section-1 & 3
.container-img{
     width: 100%;
     height: $height;
     //background-color: #f8f5fc;
     
    //  @media (max-width: $laptop) {
    //       display: block;
    //       height: 300px;
    //  }
    //  @media (max-width: $mobile) {
    //       display: block;
    //       height: 300px;
    //  }
}

//section-1 Header section
.group-1 {
    background: url("../../assets/images/Path8193.svg"), url("../../assets/images/MaskGroup17.png");
    background-repeat: no-repeat, no-repeat; 
    background-position: top, top;
    background-size: 100%;
    filter: brightness(100%);
    opacity: 1; 
    height: $height;
    width: $width;   
    .text-block  {
      flex-direction: column;
      text-align: left;
      background-color: transparent;
      top: 40%;
      left: 60%;
      transform: translate(-40%, -60%);
      justify-content: left;
      justify-items: left;
      position: absolute;
      line-height: 70%;
      h6 {
        text-align: left;
        line-height: 70%;
        font-size: 15px;
        color: #ffffff;
        font-weight: lighter;
      } 
      h1 {
        text-align: left;
        letter-spacing: 2px;
        font-weight: 900;
        line-height: 70%;
        color: #ffffff;
      }      
      .btn {
        left: 60%;
        background-color: #7FFF00;
        height: 30px;
        width: 100px;
        align-items: left;
        margin: 0;
        //text-align: center;
        color: #FFFFFF;  
        font-size: 10px;
        
      }
    }      
}
// @media screen and (max-width: $mobile ) {
//     .group-1 {
//         display: flex;
//         height: 100%;
//         width: 100%;
//         .text-block {
//           flex-direction: column;
//           line-height: 60%;
//           h6 {
//             line-height: 60%;
//             font-size: 12px;
//           }
//           h1 {
//             letter-spacing: none;
//             font-weight: 400;
//             line-height: 60%;
//           }
//           .btn {
//             height: 15px;
//             width: 50px;
//             font-size: 5px; 
//           }
//         }
//     }  
// }
// @media screen and (max-width: $tablet) {
//     .group-1 {
//       display: flex;
//       height: 100%;
//       width: 100%;
//       .text-block {
//         flex-direction: column;
//         line-height: 60%;
//         h6 {
//           font-size: 14px;
//         }
//         h1 {
//           letter-spacing: normal;
//           font-weight: 600;
//           line-height: 60%;
//         }
//         .btn {
//           height: 20px;
//           width: 70px;
//           font-size: 8px;
//         }
//       }
//     }
// }
@media (min-width: 768px) {
  .navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
  }
}

.collaspe-icon {
	margin-top: 7px;
	margin-left: 7px;
	width: 30px;
	height: 30px;
}
label {
	margin-top: 20px;
	vertical-align: center;
	align-items: center;
    font-family: 'Sedgwick Ave Display', cursive;
    font-size: 10px;
    /* display: block; */
    cursor: pointer;
}
input#menu {
    display: none;
}
.menu-content {
    max-height: 0;
    overflow: hidden;
    font-family: 'Oswald', sans-serif; 
    ul {
    	vertical-align: center;
      text-align: center;
      text-align: center;
    }
    li, a {
    	color: #ffffff;
      font-size: 14px;
      justify-content: space-between;
      margin: auto;
      padding: auto;
    }
}
input:checked ~ .menu-content {
    max-height: 40%;
}

a {
	text-decoration: none;
}
// header {
// 	display: flex;
// 	height:  40px;
// 	/* flex-wrap: wrap; */
// 	justify-content: space-around;
// 	padding: 35px ;

// 	/* padding-left: 40px; */
// }
.nav-area {
  display: flex;
  justify-content: center;
  ul {
    padding-top: center;
  }
  li a{
    color: #ffffff;
    padding-top: 10px;
    margin-left: 3px;
    margin-right: 3px;
    justify-items: auto;
    text-size-adjust: 14px;
    font-size: 14px;
    margin-left: 5px;
    margin-right: 5px;
  }
  a:hover {
    border: 1px solid #ffffff;
  }
}
// @media screen and (min-width: $mobile) {

// }
.nav-area-2 {
  .btn {
    background-color:transparent;
    border: 1px solid #ffffff;
    text-align: center;
    height: 40px;
    width: 130px;
    border-color: #ffffff;
    color: #FFFFFF;   
  }
  
}

@media screen and (min-width: $mobile) {
	.collapsible-menu {
		display: none;
	}
	.nav-area {
		vertical-align: top;
		li{
			display: inline-block;
			padding: 2px 5px;
			font-size: 16px;
		}
		li a{
			color: #ffffff;
		}
	}
	label {
		display: none;
	}
	.menu-content {
		display: none;
	}

}
// Image-2 Section
.group-2 {
  background: url("../../assets/images/Path2834.svg"), url("../../assets/images/MaskGroup16.png");
  background-repeat: no-repeat, no-repeat; 
  background-position: top, top;  
  background-size: 100%;
  filter: brightness(100%);
  opacity: 1; 
  height: $height;
  width: $width;
  position: relative; 
  margin: 0;
  .media-player img {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 45%;
    left: 50%;
    position: absolute;
    transform: translate(-45%, -50%);
    font-size:50px;
    width: 150px;
    height: 150px;
    color:#7FFF00
  }
}
// @media screen and (min-width: $mobile ) {
//   .group-2 {
//       display: flex;
//       width: 100%;
//       .media-player i {
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         top: 17%;
//         left: 50%;
//         position: absolute;
//         transform: translate(-17%, -50%); 
//         font-size: 25px;      
//         color:#7FFF00;       
//         width: 50px;
//         height: 50px;
//       }      
//   }    
// }


// Section-2 Service section
.container-2 {
     //width: $width;
     display: flex;
     flex-wrap: wrap;
     height: 80%;
     align-items: center;
     justify-content: center;
     //flex: 1;
     margin-right: 50px;
     margin-left: 50px;
     padding-bottom: 70px;
     padding-top: 30px;
     background-position: center;  
     @media screen and (min-width: $mobile) {
       display: flex;
       margin: auto;
       padding: auto;
       justify-items: center;
       width: 400px;
       height: fit-content;
     }  
     .service {
       display: flex;
       flex-wrap: wrap;
       justify-content: center;
       align-items: center;
       width: 900px;
       height: 400px;
       margin-left: auto;
       margin-right: auto;
       padding-bottom: 30px;
       padding-top: 70px;
       column-gap: normal;
       row-gap: 10px;
       @media screen and (min-width: $mobile) {
         .service {
           display: block;
           max-width: 270px;
           height: fit-content;
         }
       }
     } 
     .card {
       display: flex;
       flex-wrap: wrap;
       text-align: left;       
       //box-shadow: 0 10px 10px rgba(88, 86, 86, 0.2);
       font-family: 'Roboto', sans-serif;
       .card-body {
         padding: 10px;
       }
       .card-1 {  
         display: flex;
         flex-wrap: wrap;     
         height: 300px;
         border: none;
         h3 {
           margin: 0 0 5px;
           margin-left: 10px;
         }
         p {
           margin: 0 0 5px;
         }
       }
       .row-cards {
         display: flex;
         height: 150px;
         padding-bottom: 10px;
         border: none;
         border-color: white;
         //box-shadow: 0 10px 10px rgba(88, 86, 86, 0.2);
       }
       button {
         background-color: #7FFF00;
         color: white;
         border: white;
         width: 130px;
         height: 40px;
       }
   
     }

     @media screen and (min-width: $mobile) {
       .card {
        font-family: 'Roboto', sans-serif;
        .card-body {
          padding: 5px;
        }
        .card-1 {      
          height: fit-content;
          h3 {
            margin: 0 0 5px;
            margin-left: 10px;
          }
          p {
            margin: 0 0 5px;
          }
        }
        .row-cards {
          height: fit-content;
          padding-bottom: 10px;
        }
        button {
          background-color: #7FFF00;
          color: white;
          border: white;
          width: 80px;
          height: 20px;
        }
    
      }
       
     }
}

// Section-3 Skill section
.container-3 {
  display: flex;
  flex-wrap: wrap; 
  //width: $width;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex: 1;
  margin-right: 50px;
  margin-left: 50px;
  padding-bottom: 100px;
  padding-top: 30px;
  background-position: center; 
}
.group-3 {
  display:flex;
  flex-wrap: wrap;
  background-size: cover;
  opacity: 1; 
  width: 900px;
  background-position: center; 
  margin: auto;
}
// @media screen and (min-width: $mobile) {
//   .container-3 {
//     height: fit-content;
//     margin-right: 20px;
//     margin-left: 20px;
//     padding-bottom: 40px;
//     padding-top: 20px;
//   }
//   .group-3 {
//     width: 300px;
//   }
// }
.heading {
  padding-top: 0;
  text-align: center;
  padding-top: 0%;
  margin: auto;
  
  h3 {
       color: #4A4A4A;
       font: normal normal 900 Roboto;
       font-size: 25px; 
  }
  p{
       color: #4A4A4A;
       font: normal normal normal Roboto;
       font-size: 14px;
  }
}
.skill-set {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  justify-items: center;
  margin: auto;
  padding: 0 10px;
  width: 900px;
  padding-top: 30px;
  .col {
    column-gap: 0 10px;
    padding: 0 10px;
    width: 150px;
    height: 180px;
  }
}
.percent {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  justify-items: center;
  margin: auto;
  padding: auto;
  position: relative;
  width: 130px;
  height: 180px;
  align-content: center;
  p {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-align: center;
  }
}
svg {
  // width: fit-content;
  // height: fit-content;
  //transform: translate(80px,50px);
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  align-self: center;
  margin: 0 0;
}
// g {
//   justify-content: center;
//   align-items: center;
//   align-content: center;
//   align-self: center;
// }
// circle {
//   justify-content: center;
//   align-items: center;
//   align-content: center;
//   align-self: center;
//   stroke-linecap: round;
//   stroke-width: 5;
// }  
// .xd circle:nth-of-type(2),
// .illus circle:nth-of-type(2), 
// .ph circle:nth-of-type(2),
// .in circle:nth-of-type(2),
// .ae circle:nth-of-type(2)
//  {
//   stroke-dasharray: 250;
//   stroke-dashoffset: 250;
  
// }
// .xd circle:nth-of-type(2) {
//   stroke-dashoffset: calc(250 - (250 * 75) / 100);
//   stroke: #FF6666 ;
// }
// .illus circle:nth-of-type(2) {
//   stroke-dashoffset: calc(250 - (250 * 70) / 100);
//   stroke: #9400D3 ;
// }
// .ph circle:nth-of-type(2) {
//   stroke-dashoffset: calc(250 - (250 * 95) / 100);
//   stroke: #1E90FF ;
// }
// .in circle:nth-of-type(2) {
//   stroke-dashoffset: calc(250 - (250 * 60) / 100);
//   stroke: #3CB371;
// }
// .ae circle:nth-of-type(2) {
//   stroke-dashoffset: calc(250 - (250 * 85) / 100);
//   stroke: #FFA500;
// }
// text {
//   color: #5D5D5D;
//   font-family: Nexa Bold;
//   font-size: 16px;
// }


.single-chart {
  width: 150px;
  justify-content: space-around ;
}

.circular-chart {
  display: block;
  margin: 10px 15px;
  max-width: 130px; //80%
  max-height: 180px;
}

.circle-bg {
  fill: none;
  stroke: #eee;
  stroke-width: 3.8;
}

.circle {
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.circular-chart.pink .circle {
  stroke: #f25278;
}

.circular-chart.purple .circle {
  stroke: #9933FF;
}

.circular-chart.blue .circle {
  stroke: #1E90FF;
}

.circular-chart.green .circle {
  stroke: #00994C;
}

.circular-chart.yellow .circle {
  stroke: #FF8000;
}

.percentage {
  fill: #666;
  font-family: sans-serif;
  font-size: 0.5em;
  text-anchor: middle;
}
p {
  padding: 10px 10px;
  font-size: 14px;
  font-family: sans-serif;
  color: #4A4A4A;
}

// section-4 Portfoilo section
.container-4 {
  //width: $width;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex: 1;
  margin-right: 50px;
  margin-left: 50px;
  padding-bottom: 100px;
  padding-top: 30px;
  background-position: center; 
}
.group-4 {
  width: 900px;
  background-size: cover;
  opacity: 1; 
  align-items: center;
  //height: $heigth;
  //width: $width;
  background-position: center; 
  margin: auto;
  hr {
    border-top-color:rgb(252, 249, 249);
    opacity:0.5
  }
  .row {
    align-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    margin-left: auto;
    margin-right: 0;
  .gallery {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    align-items: center;
    align-self: center;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    padding-top: 30px;
    padding-bottom: 30px;
    // margin-left: 50px;
    // margin-right: 50px;
    text-align: center;
    margin: auto;
    .column {
      width: 130px;
      margin: 0 0;
    }
    .column .active {
      color: #7FFF00;
      font-size: 12px;
      font: normal normal 900 Roboto;
    }
    a {
      font-size: 12px;
      font: normal normal 900 Roboto;
      align-content: center;
      color: #4A4A4A;
    }
  }
}
}
@media screen and (min-width: $mobile) {
  .container-4 {
    margin-right: 30px;
    margin-left: 30px;
    padding-bottom: 50px;
    padding-top: 15px;
  }
  .group-4 {
    width: 350px;   
  }
}
// .wrapper {
//   margin: auto;
//   max-width: 70rem;
//   text-align: center;
//   justify-content: center;
// }
@media screen and (min-width: $mobile) {
  .wrapper {
    max-width: 400px;
  }
}

.gallery-img { 
  display: flex;
  flex-wrap: wrap;
  //margin: 0; 
  max-width: 900px;
  align-content: center;
  justify-content: center;   
     img {
      opacity: 1;
      filter: brightness(100%); 
      .first {
        background: url("../../assets/images/Rectangle101.svg") no-repeat;
        background-position: top;
        background-size: 100%;
        filter: brightness(100%);
        opacity: 1; 
        background-color: #6048FF;
      }     
    }
    .row {
      display: -ms-flexbox; /* IE10 */
      display: flex;
      -ms-flex-wrap: wrap; /* IE10 */
      flex-wrap: wrap;
      padding: 0 4px;
      justify-content: center;
      width: 900px;
    }
    
    /* Create four equal columns that sits next to each other */
    .column {
      -ms-flex: 30%; /* IE10 */
      flex: 30%;
      max-width: 30%;
      padding: 0 4px;
    }
    
    .column img {
      margin-top: 8px;
      vertical-align: middle;
      width: 100%;
    }
    
    /* Responsive layout - makes a two column-layout instead of four columns */
    @media screen and (max-width: 800px) {
      .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
      }
    }
    
    /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
    @media screen and (max-width: 600px) {
      .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
      } 
  } 
}
.heading- {
  padding-top: 0;
  text-align: center;
  padding-top: 0%;
  margin: auto;
  width: 900px;
  h3 {
       color: #4A4A4A;
       font: normal normal 900 Roboto;
       font-size: 25px; 
  }
  p{
       color: #4A4A4A;
       font-size: 14px;
       font: normal normal normal Roboto;
  }
}

// Section-5 Client section
.container-5 {
  width: $width;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  margin-right: auto;
  margin-left: auto;
  padding-bottom:40px;
  padding-top: 70px;
  background-position: center; 
}
.group-5 {
  background-size: cover;
  opacity: 1; 
  width: 900px;
  background-position: center; 
  margin: 30px 30px;
  .heading {
    padding-top: 0;
    text-align: center;
    padding-top: 0%;
    margin: auto;
    
    h3 {
         color: #4A4A4A;
         font: normal normal 900 Roboto;
         font-size: 25px; 
    }
    p{
         color: #4A4A4A;
         font-size: 14px;
         font: normal normal normal Roboto;
    }
  }
  .card {
        //width: 300px;
        height: 200px;
        margin-bottom: auto;
        align-content: left;
        background: #fff;
        padding-bottom: 10px;
        .card-content {
        .card-body {
          padding: 10px;
          margin: 10px;
            p{
              align-content: left;
              text-align: left;
              margin: 0 0;
              line-height: normal;
              font-size: 14px;
              font: normal normal normal Roboto;
            }
          }
          .media {
            .media-body {
              padding-top: 10px;
            }
          }
        }
        
        h4 {
          font: normal normal normal Roboto;
          margin-bottom: 5px;
          line-height: 80%;
        }
        img {
          opacity: 1;
          filter: brightness(100%);
          margin-right: 20px;
          .rounded-circle {
            margin-right: 20px;
          }
        }
       
      }
}




// Section-6 Hire section
.group-6 {
  width: 900px;
  padding-top: 0;
  text-align: center;
  padding-top: 0%;
  margin: auto;
  background-color: #FFFFFF;
  .row {
    margin-left: auto;
    margin-right: auto;
  }
  p{
       color: #4A4A4A;
       font-size: 16px;
       text-align: left;
       font: normal normal 900 Roboto;
  }
  .content button {
    background-color: #7FFF00;
    color: white;
    border: white;
    width: 120px;
    height: 40px;
  }
}
.content {
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: auto;
  align-content: center;
  justify-content: center;
  background-color: #FFFFFF;
  div {
    text-align: right;

  }
  
}  


 
// Serive section 
// .main-service {
//   margin-left: auto;
//   margin-right: auto;
//   padding-top: 0;
//   padding-bottom: 30px;
//   display: flex;
//   flex-wrap: wrap;
//   align-content: center;
//   background-color: #007489;
//   width: $width;
//   height: $height;
//   .left-container {
//     justify-items: flex-start;
//   }
// }

// Section-7 Footer section

.site-footer
{
  .container {
    margin-left: 80px;
    margin-right: 80px;
    width: 900px;
    justify-content: space-between;
    justify-items: center;
    align-content: center;
  }
    background-color:#6048FF;
    padding:45px 0 20px;
    font-size: 16px;
    line-height:24px;
    color:rgb(252, 249, 249);
    .site-footer hr
    {
      border-top-color:rgb(252, 249, 249);
      opacity:1;
      color: white;

    }
    .site-footer hr.small
    {
      margin:20px 0
    }
    .site-footer h6
    {
      color:rgb(252, 249, 249);
      font-size: 32px;
      text-transform:uppercase;
      margin-top:5px;
      letter-spacing:2px; 
     
    }
    .site-footer p {
      text-align: left;
    }
    .site-footer a
    {
      color:rgb(252, 249, 249);
    }
    .site-footer a:hover
    {
      color:rgb(252, 249, 249);
      text-decoration:none;
    }
}

.footer-mail {
  p {
    size: 36px;
    img {
      text-align: left;
      width: 100px;
      height: 30px;
      margin-left: 0;
      
    }
  }
 
  p {
    font-size: 14px;
    color: white;
    text-align: left;
    margin: 0 0 12px;
  }
  .form-control {
    height: 40px;
    
    border-color: #ffffff;
    border-radius:0;
    input {
      widows: 200px;
    }
    }
    .form-control:focus {
    box-shadow: none;
    border: 2px solid #7FFF00;
    }
    .btn {
    min-height: 40px; 
    border-radius:0;
    background: #7FFF00;
    color: #fff;
    
    }
}
// @media screen and (min-width: $mobile) {
//   .footer-mail{
//     justify-content: center; 
//     text-align: center;    
//   }
//   .form-control {
//     height: 30px;
//     width: fit-content;
//     input {
//       widows: 50px;
//     }
//   }
// }
h6 {
  font-size: 18px;
  text-align: left;
}
.footer-links
{
  padding-left:0;
  list-style: none;
  font-size: 14px;
  text-align: left;
  li
  {
    display:block;
  }
  a
  {
    color:whitesmoke;
  }
  .li
  {
    display: inline-block;
  }
}

.site-footer .social-icons
{
  text-align:left;
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0;
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px;
  }
}
@media (max-width:$tablet)
{
  .site-footer
  {
    padding-bottom:0;
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center;
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none;
  justify-items: center;
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px;
}
.social-icons li.title
{
  
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px;
}
.social-icons a{
  background-color:#eceeef;
  color:white;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear;
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe;
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px;
}
.social-icons a.facebook:hover
{
  background-color:#3b5998;
}
.social-icons a.twitter:hover
{
  background-color:#00aced;
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6;
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89;
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600;
  }
}
  

.carousel-indicators .active {
  
  background-color: red;
}