<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
<script
    src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
    crossorigin="anonymous">
</script>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>  

<div  class="flex-container wrapper">
     <div class="flex-item">

     <!--Header Section-->
     <div class="container-img">
          <div class="group-1"> 
               <div class="collapsible-menu">
                         <input type="checkbox" id="menu">
                         <label for="menu">
                         <img src="../../assets/images/collapse.jpeg" alt="" width="20px" height="20px"></label>
                         <div class="menu-content">
                              <ul class="list-unstyled">
                                   <li><a class="active" href="#">Home</a></li>
                                   <li><a href="#">Services</a></li>
                                   <li><a href="#">My Story</a></li>
                                   <li><a href="#">My Skills</a></li>
                                   <li><a href="#">Portfoilo</a></li>
                                   <li><a href="#">Reviews</a></li>
                              </ul>
                         </div>
               </div>                    
               <div class="column">     
                    <header>
                         <nav class="col-md-12">
                              <div class="nav-area">
                                   <div class="col-md-3">
                                        <img class="svg-class" src="../../assets/images/MarkAntony.svg" alt="" />
                                   </div> 
                                   <div class="col-md-6 menu">    
                                        <ul class="list-unstyled" style="display: flex;" >
                                             <li><a class="active">Home</a></li>
                                             <li><a>Services</a></li>
                                             <li><a>My Story</a></li>
                                             <li><a>My Skills</a></li>
                                             <li><a>Portfoilo</a></li>
                                             <li><a>Reviews</a></li>  
                                        </ul>
                                   </div>                                        
                                   <div class="col-md-3">
                                        <ul class="nav-area-2 ml-auto">                          
                                             <button class="btn default rounded-0">Contact me</button>
                                             
                                        </ul>
                                   </div>
                              </div>
                         </nav>                         
                    </header>
                    <div class="text-block">                         
                         <h6>Hello, I am </h6>
                         <h1><b>Mark Anatony</b></h1>
                         <h6>Ux Designer and Developer</h6> 
                         <br>
                         <br>                          
                         <button class="btn default rounded-0">Get started</button>                          
                    </div>
               </div>     
          </div>
     <div> 

     <!--Service-->
      <div class="container-2">  
          <div class="row service" style="flex-direction: column; display: flex; flex-wrap: wrap;"> 
               <div class="col-lg-4 col-sm-6 col-md-12 xyz" style="flex-direction: row">
                    <div class="card">
                         <div class="card-1">
                              <article class="card-content">
                                   <div class="card-body">                                            
                                        <h3><b>My Services</b></h3>
                                        <p><small>I am highly experienced web designer and developer. I also provide photography and Videography service. I have done lots of design project for big organisation as well as various smaller startups. I love to help those people who want a creative and modern looking website design. I made 200 videos and 600 types of photography.</small></p>
                                        <button>Hire Me</button>                                         
                                   </div>
                              </article> 
                         </div>                        
                    </div>  
               </div>
               <div class="col-lg-4 col-sm-6 col-md-12 xyz" style="flex-direction: column; display: flex; flex-wrap: wrap; margin-right: 15px;">                                           
                         <div class="row" style="padding-bottom: 15px;">
                              <div class="card"> 
                                   <div class="row-cards">                                     
                                        <article class="card-content">
                                             <div class="card-body"> 
                                                  <div style="display: flex;">
                                                       <img src="../../assets/images/web-design.png" style="width: 30px; height: 30px; text-align: center" />
                                                       <h5 style="margin-left: 10px;"><b>Web design</b></h5>
                                                  </div>                                                       
                                                  <p style="margin-left: 30px;"><small>All of my designs are modern and completely unique. I am up to date with the latest web design trends.</small></p> 
                                             </div>
                                        </article>
                                   </div> 
                              </div>                                
                         </div>
                         <div class="row" >
                              <div class="card"> 
                                   <div class="row-cards">                                     
                                        <article class="card-content">
                                             <div class="card-body"> 
                                                  <div style="display: flex; ">
                                                       <img src="../../assets/images/videography.png" style="width: 30px; height: 30px; text-align: center" />
                                                       <h5 style="margin-left: 10px;"><b>Videography</b></h5>
                                                  </div>                                                                     
                                                  <p style="margin-left: 30px;"><small>Standard video projects are usually between 5 to 30 minutes in length, although can sometimes be longer.</small></p>                                             
                                             </div>
                                        </article> 
                                   </div>
                              </div>
                         </div>                      
                    </div>
                    <div class="col-lg-4 col-sm-6 col-md-12 xyz" style="flex-direction: column; display: flex; flex-wrap: wrap;">
                         <div class="row" style="padding-bottom: 15px;">
                              <div class="card">   
                                   <div class="row-cards">              
                                        <article class="card-content">                                                           
                                             <div class="card-body">  
                                                  <div style="display: flex;">
                                                       <img src="../../assets/images/photoghy.jpg" style="width: 30px; height: 30px; text-align: center" />
                                                       <h5 style="margin-left: 10px;"><b>Photography</b></h5>
                                                  </div>                                                                                    
                                                  <p style="margin-left: 30px;"><small>Prefessional photography for event birthday parties or any other small private celebration.</small></p>                                                                            
                                             </div>                                                       
                                        </article>
                                   </div> 
                              </div>         
                         </div>
                         <div class="row">
                              <div class="card">  
                                   <div class="row-cards">                                      
                                        <article class="card-content">
                                             <div class="card-body">
                                                  <div style="display: flex;">
                                                       <img src="../../assets/images/web-development.png" style="width: 30px; height: 30px; text-align: center" />
                                                       <h5 style="margin-left: 10px;"><b>Web Development</b></h5>
                                                  </div>                                                  
                                                  <p style="margin-left: 30px;"><small>Websites developmentservice gives you a simple, quick and secure way of getting your dream website.</small></p>                                                  
                                             </div>
                                        </article> 
                                   </div>
                              </div>     
                         </div>                         
                    </div>
          </div>
      </div>         


     <!--Image-2-->
     <div class="container-img">
          <div class="group-2">
               <div class="media-player">
                    <img src="../../assets/images/Group8468.svg" alt="" /> 
               </div>                    
          </div>
     </div>

     <!--Skill-->
     <div class="container-3">
          <div class="group-3">
               <div class="row">
                    <div class="heading-skill">
                         <h3><b>My Skills</b></h3>
                         <p><center>I am using various digital tool for my services. Most are adobe product. Check out my <br> skill level from below graphs.</center></p>
                    </div>
               </div>
               <div class="row"> 
                    <div class="skill-set" style="display: flex;">
                         <div class="column">
                              <div class="row" style="display: flex; ">
                                   <div class="single-chart">
                                        <svg viewBox="0 0 36 36" class="circular-chart pink">
                                             <path class="circle-bg"
                                             d="M18 2.0845
                                                  a 15.9155 15.9155 0 0 1 0 31.831
                                                  a 15.9155 15.9155 0 0 1 0 -31.831"
                                             />
                                             <path class="circle"
                                             stroke-dasharray="75, 100"
                                             d="M18 2.0845
                                                  a 15.9155 15.9155 0 0 1 0 31.831
                                                  a 15.9155 15.9155 0 0 1 0 -31.831"
                                             />
                                             <text x="18" y="20.35" class="percentage">75%</text>
                                        </svg>
                                        <p>Adobe xd</p>
                                   </div>
                                   <div class="single-chart">
                                             <svg viewBox="0 0 36 36" class="circular-chart purple">
                                                  <path class="circle-bg"
                                                  d="M18 2.0845
                                                       a 15.9155 15.9155 0 0 1 0 31.831
                                                       a 15.9155 15.9155 0 0 1 0 -31.831"
                                                  />
                                                  <path class="circle"
                                                  stroke-dasharray="70, 100"
                                                  d="M18 2.0845
                                                       a 15.9155 15.9155 0 0 1 0 31.831
                                                       a 15.9155 15.9155 0 0 1 0 -31.831"
                                                  />
                                                  <text x="18" y="20.35" class="percentage">70%</text>
                                             </svg>
                                             <p>Adobe Iillustrator</p>
                                   </div>                                       
                                   <div class="single-chart">
                                             <svg viewBox="0 0 36 36" class="circular-chart blue">
                                                  <path class="circle-bg"
                                                  d="M18 2.0845
                                                       a 15.9155 15.9155 0 0 1 0 31.831
                                                       a 15.9155 15.9155 0 0 1 0 -31.831"
                                                  />
                                                  <path class="circle"
                                                  stroke-dasharray="95, 100"
                                                  d="M18 2.0845
                                                       a 15.9155 15.9155 0 0 1 0 31.831
                                                       a 15.9155 15.9155 0 0 1 0 -31.831"
                                                  />
                                                  <text x="18" y="20.35" class="percentage">95%</text>
                                             </svg>
                                             <p>Adobe Photoshop</p>
                                   </div>                                        
                                   <div class="single-chart">
                                             <svg viewBox="0 0 36 36" class="circular-chart green">
                                                  <path class="circle-bg"
                                                  d="M18 2.0845
                                                       a 15.9155 15.9155 0 0 1 0 31.831
                                                       a 15.9155 15.9155 0 0 1 0 -31.831"
                                                  />
                                                  <path class="circle"
                                                  stroke-dasharray="60, 100"
                                                  d="M18 2.0845
                                                       a 15.9155 15.9155 0 0 1 0 31.831
                                                       a 15.9155 15.9155 0 0 1 0 -31.831"
                                                  />
                                                  <text x="18" y="20.35" class="percentage">60%</text>
                                             </svg>
                                             <p>Adobe Indesign</p>
                                   </div>                                       
                                   <div class="single-chart">
                                             <svg viewBox="0 0 36 36" class="circular-chart yellow">
                                                  <path class="circle-bg"
                                                  d="M18 2.0845
                                                       a 15.9155 15.9155 0 0 1 0 31.831
                                                       a 15.9155 15.9155 0 0 1 0 -31.831"
                                                  />
                                                  <path class="circle"
                                                  stroke-dasharray="85, 100"
                                                  d="M18 2.0845
                                                       a 15.9155 15.9155 0 0 1 0 31.831
                                                       a 15.9155 15.9155 0 0 1 0 -31.831"
                                                  />
                                                  <text x="18" y="20.35" class="percentage">85%</text>
                                             </svg>
                                             <p>Adobe After Effects</p>
                                   </div>      
                              </div>
                         </div>
                    </div>
               </div>               
          </div>
     </div>          


     <!--portfoilo-->
     <div class="container-4">
               <div class="group-4">
                    <div class="row">
                         <div class="heading-portfoilo">
                              <h3><b>My Portfoilo</b></h3>
                              <p>The portfoilo is conveying quality and experience of my services. See my portfoilo to <br> understand how qualifyed and experienced I am.</p>
                         </div>
                    </div>
                    <div class="row">
                         <div class="gallery">
                              <div class="d-flex flex-wrap">                    
                                   <div class="column active"><a style="color: #7FFF00;"><b>Web Design</b></a></div>
                                   <div class="column "><a><b>App Design</b></a></div>
                                   <div class="column "><a><b>Photography</b></a></div>
                                   <div class="column "><a><b>Videography</b></a></div>
                                   <div class="column "><a><b>Web development</b></a></div>                       
                              </div>
                         </div>
                         
                    </div>     
                    <div class="row">     
                         <div class="gallery-img">
                              <div class="row">
                                   <div class="column">
                                        <img class="first" src="../../assets/images/MaskGroup8.png" alt=""  />
                                        <img src="../../assets/images/MaskGroup9.png" alt=""  />                                       
                                   </div>
                                   <div class="column">
                                        <img src="../../assets/images/MaskGroup12.png" alt="" />
                                        <img src="../../assets/images/MaskGroup20.png" alt="" />
                                        
                                   </div> 
                                   <div class="column">
                                        <img src="../../assets/images/MaskGroup10.png" alt="" />
                                        <img src="../../assets/images/MaskGroup21.png" alt="" />
                                        
                                   </div>                              
                              </div>
                         </div>
                    </div>                         
                    
               </div>
          </div>     

     
     <!--Client-->
     <div class="container-5">
               <div class="group-5">                    
                         <div class="row">
                              <div class="heading-client">
                                   <h3><b>What my client say</b></h3>
                                   <p>Check out what clients say about my services. Happy clients all over the world, Share <br> your experience with me by submitting your reviews.</p>
                              </div>
                         </div>
                         
                         <div class="row" style="display: flex; flex-wrap: wrap; wrap-direction: row;">                    
                              <div class="col-lg-4 col-sm-6 col-md-12" style="align-item: center; display: flex; flex-direction: row; flex-wrap: wrap; ">
                                   <div class="card">
                                        <div class="card-content">
                                             <div class="card-body">
                                                  
                                                  <p ><small>What a Service!!!! Antony is one of the top Classy designer in the world. Exceeded expectation and designed my website to my requirements. Will be using for ongoing work.</small></p>
                                                 
                                                  <div class="media d-flex" style="padding-down: 15px;">                        
                                                       <div class="align-self-center">
                                                            
                                                            <img src="../../assets/images/male.png" alt="" class="rounded-circle" width="50" height="50" />
                                                       </div>
                                                  
                                                       <div class="media-body text-left">
                                                            <h4><b>David Benkham</b></h4>
                                                            <span><small>Managing Director</small></span>
                                                       </div>
                                                  </div>
                                             </div>
                                        </div>
                                   </div>
                              </div>
                              <div class="col-lg-4 col-sm-6 col-md-12" style="align-item: center; display: flex; flex-direction: row; flex-wrap: wrap;">
                                   <div class="card">
                                        <div class="card-content">
                                             <div class="card-body">
                                             
                                                  <p ><small>Mark Antony is amazing designer to work with. Excellent design skills and very patient with me. Made several changes with no problem and made new ideas when asked. </small></p>
                                                  <div class="media d-flex" style="padding-down: 15px;">                        
                                                       <div class="align-self-center">
                                                            
                                                            <img src="../../assets/images/MaskGroup18.png" alt="" class="rounded-circle" width="50" height="50" />
                                                       </div>
                                                  
                                                       <div class="media-body text-left">
                                                            <h4><b>David Luiz</b></h4>
                                                            <span><small>CEO and Founder</small></span>
                                                       </div>
                                                  </div>
                                             </div>
                                        </div>
                                   </div>
                              </div>
                              <div class="col-lg-4 col-sm-6 col-md-12" style="align-item: center; display: flex; flex-direction: row; flex-wrap: wrap; ">
                                   <div class="card">
                                        <div class="card-content">
                                             <div class="card-body">
                                             
                                                  <p ><small>Mark has delivered what was promised and was absolutely amazing to work with. I can't rate this guy high enough, his work is fantastic and I will defiantly use him again . </small></p>
                                                  
                                                  <div class="media d-flex" style="padding-down: 15px;">                        
                                                       <div class="align-self-center">
                                                            
                                                            <img src="../../assets/images/MaskGroup19.png" alt="" class="rounded-circle" width="50" height="50" />
                                                       </div>
                                                  
                                                       <div class="media-body text-left">
                                                            
                                                            <h4><b>Donna Karan</b></h4>
                                                            <span><small>Fashion Designer</small></span>
                                                       </div>
                                                  </div>
                                             </div>
                                        </div>
                                   </div>
                              </div>
                              
                         </div>              
               </div>
               
          </div>  


          <!--Hire me-->
          <div class="group-6">
               <div class="row">
                    <div class="content">
                         <p><b>I am available for new projects. Want to work with me?</b></p>
                    </div> 

                    <div class="content">     
                         <button>Hire Me</button>
                    </div>
               </div> 

          </div>


     <!--Footer-->            
          <footer class="site-footer">
               <div class="container">
                    <div class="row">
                         <div class="col-xs-12 col-sm-4">
                              <div class="footer-mail">
                                   <p><img class="svg-class" src="../../assets/images/MarkAntony.svg" alt="" /></p>
                                   <p>Subscribe Newsletter</p>
                                   <div class="input-group">
                                        <input type="email" class="form-control" placeholder="Email Address">
                                        <span class="input-group-btn">
                                        <button class="btn" type="submit">
                                        <i class="fa fa-google-plus-official" style="font-size:20px;color:white"></i>
                                        </button>
                                        </span>
                                   </div>
                              </div> 
                         </div>
                         <div class="col-xs-6 col-md-2">
                              <h6>Services</h6>
                              <ul class="footer-links">
                                   <li><a href="">Web design</a></li>
                                   <li><a href="">App Design</a></li>
                                   <li><a href="">Photography</a></li>
                                   <li><a href="">Videography</a></li>
                                   <li><a href="">Web development</a></li>                         
                              </ul>
                         </div>
                         <div class="col-xs-6 col-md-2">
                              <h6>Support</h6>
                              <ul class="footer-links">
                                   <li><a href="">Get support</a></li>
                                   <li><a href="">Contact Us</a></li>
                                   <li><a href="">My Blogs</a></li>
                                   <li><a href="">Privacy Policy</a></li>
                                   <li><a href="">Pricing</a></li>
                              </ul>
                         </div>                   
                         <div class="col-xs-6 col-sm-4">
                              <h6>Follow me</h6>
                              <ul class="social-icons">
                                   <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                                   <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                                   <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
                                   <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
                              </ul>
                         </div>                    
                    </div>
                    <hr>
               </div>
               <div class="container">                   
                    <div class="col-md-12 col-sm-12 col-xs-12">
                         <div class="row">
                              <div class="col-md-4 col-sm-4 col-xs-4">                                  
                                   <div style="display: flex;">
                                        <!--<img src="../../assets/images/phone.png" alt="" style=" justify-content: center; width: 20px; height: 20px; text-align: center" />-->
                                        <i class="fa fa-phone" style=" justify-content: center; width: 20px; height: 20px; text-align: center" ></i>
                                        <h6 style="margin-left: 10px;">Phone</h6>
                                   </div>                                                                                     
                                   <p style="margin-left: 25px; padding-top: 0; color: white; text-align: left;"><small>Manager- (555)652-3567</small></p>                                   
                              </div>                              
                              <div class="col-md-4 col-sm-4 col-xs-4">                                   
                                   <div style="display: flex;">
                                        <!--<img src="../../assets/images/email.jpg" alt="" style=" justify-content: center; width: 20px; height: 20px; text-align: center" /> -->
                                        <i class="fa fa-envelope" style=" justify-content: center; width: 20px; height: 20px; text-align: center"></i>                                    
                                        <h6 style="margin-left: 10px;">Email</h6>
                                   </div>     
                                   <p style="margin-left: 25px; padding-top: 0; color: white; text-align: left;"><small>info@madankumer.com</small></p>                                   
                              </div>
                              <div class="col-md-4 col-sm-4 col-xs-4">
                                   <div style="display: flex;">
                                             <!--<img src="../../assets/images/place.png" alt=""  style=" justify-content: center; width: 20px; height: 20px; text-align: center" />  -->
                                             <i class="fa fa-map-marker" style="color: #ffffff" style=" justify-content: center; width: 20px; height: 20px; text-align: center"></i>                                      
                                             <h6 style="margin-left: 10px;">My Address</h6>
                                   </div>          
                                   <p style="margin-left: 25px; padding-top: 0; color: white; text-align: left;"><small>2837 Kincheloe Road, Portland, United States</small></p>                                   
                              </div>
                         </div>    
                    </div>
               </div>
          </footer>





     </div>
</div>     